.loginEnRegistreerPaneel {
    margin:100px auto;
    width: 80%;
    height:370px;
    background-color: #f2f2f2;
    border-radius:5px;
}

.loginEnRegistreerPaneel h5 {
    text-align: center;
    padding-top:10px;
}

.loginEnRegistreerPaneel form {
    margin-top:30px;
    text-align: center;
}

.loginEnRegistreerPaneel input {
    margin-top:10px;
}

.loginEnRegistreerPaneel button {
    margin-top: 30px;
}