body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden !important;
}


.contentUnder {
    margin-top: 100px;
}

/* Homepage CSS */
.hero-img {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 6%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/tennisfoto1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.hero-content h1, p {
    text-align: center;
    color: white;
}

.hero-content a {
    padding: 10px 21px;
    background-color: #d8b617;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    color: black;
    transition: 0.3s;
}

.hero-content a:hover {
    background-color: #e0bf2b;
    color:black;
}

.info-box {
    margin-top: 20px;
    height: auto;
    width: 100%;
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 5px;

}

.info-box img {
    width: 100%;
    border-radius: 5px;

}

.info-box h2 {
    padding-top: 20px;
    color: black;
    font-size: 1.1em;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.info-box p {
    color: grey;
    font-family: "Arial", sans-serif;
}

.about-us {
    width: 100%;
    background-color: #eeeeee;
    padding: 10px;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;

}

.about-us h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    text-align: left;
    padding: 10px;
}

.about-us p {
    color: grey;
    font-family: "Arial", sans-serif;
    text-align: left;
    padding: 0 10px 10px 10px;
}

@media only screen and (max-width: 415px) {

}

/* Toernooi overzicht CSS */

.menu-toernooi {
    margin-top: 100px;
    margin-left: 150px;
    border-right: 1px solid black;
}

.menu-toernooi a {
    color: black;
}

.menu-toernooi li {
    list-style-type: none;
}


/* Menukaart css */

table {
    width: 100%;
}

.menukaart:fullscreen {
    background-color: white;
    padding: 10px;
}
