.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(2, 2, 2), rgb(17, 16, 16));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(8, 8, 8), rgb(20, 20, 20))
  }

  .editGegevens {
    position: relative;
    margin-bottom: 50px;
    margin-top: 100px;
  }

  .menu-lijst {
    margin-top: 70px;
    border-right: 1px solid black;
  }

  li a {
    color:black;
  }

  ul {
    list-style-type: square;
    text-decoration: none;
  }